/* Load fonts from google. */
  /*  Domine  */
@import url(http://fonts.googleapis.com/css?family=Domine:400,700);
  /*  Lato  */
@import url(http://fonts.googleapis.com/css?family=Lato);
  /*  FontAwesome  */
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/* Main CSS Below */
body {
  font-size: 1.7rem;
}


/*   Background Image/color!
.content {
  background-image: url(http://afrmedia.vangenplotz.no/wp-content/uploads/2014/11/HexagonBackground.png);
  background-color: #ccc;
}
*/


/*  Main content size (can be changed with @media)  */
.hentry {
  max-width: 913px !important;
}


/*  Generic Fonts and sizes for text types */
.post-title {
  font-family: 'Domine', serif;
  font-weight: 700;
}
.p1 {
  font-family: 'Domine', serif;
  font-weight: 700;
}
.p3 {
  font-family: 'Domine', serif;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h6.p3 {
  margin-top: 6rem;
  margin-bottom: 0px;
  
}
h6, b {
  margin-top: 6rem;
  margin-bottom: 0px;
}







/*  Setting the bar to the top / high z-index but not too high / color: black/transparent  */

.main-navigation {
  position: fixed;
  z-index: 50;
  background: hsla(0, 0%, 0%, 0.6);
}
/*  Navbar links should be white  */
.main-navigation a {
  color: white !important;
}

/*  Top Navigation Meny CSS  */
/*  Setting the general text type and size  */
.nav-menu li {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

/*  Adding the little house at "home" link  */
.nav-menu li:nth-child(1) :before {
  content: "\f015   ";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 2rem;
}

/*  Actual coloring of the links (currently using HSLA)  */
.nav-menu li:nth-child(1) {

  border-top: solid thin hsla(195, 98%, 51%, 1.0);
  border-bottom: solid thin hsla(195, 98%, 51%, 1.0);
}
.nav-menu li:nth-child(2) {
  border-top: solid thin hsla(142, 42%, 67%, 1.0);
  border-bottom: solid thin hsla(142, 42%, 67%, 1.0);
}
.nav-menu li:nth-child(3) {
  border-top: solid thin hsla(34, 100%, 50%, 1.0);
  border-bottom: solid thin hsla(34, 100%, 50%, 1.0);
}
.nav-menu li:nth-child(4) {
  border-top: solid thin hsla(0, 100%, 72%, 1.0);
  border-bottom: solid thin hsla(0, 100%, 72%, 1.0);
}
.nav-menu li:nth-child(5) {
  border-top: solid thin hsla(282, 96%, 61%, 1.0);
  border-bottom: solid thin hsla(282, 96%, 61%, 1.0);
}

/*  Adding the colors when you hover over the links  */
.nav-menu li:nth-child(1) :hover {
  background: hsla(195, 98%, 51%, 1.0);
}
.nav-menu li:nth-child(2) :hover {
  background: hsla(142, 42%, 67%, 1.0);
}
.nav-menu li:nth-child(3) :hover {
  background: hsla(34, 100%, 50%, 1.0);
}
.nav-menu li:nth-child(4) :hover {
  background: hsla(0, 100%, 72%, 1.0);
}
.nav-menu li:nth-child(5) :hover {
  background: hsla(282, 96%, 61%, 1.0);
}

/*  Fixing the navigation bar to center (a simple bypass of the current setup)  */
.main-navigation ul {
  float: center;
}


/*  If we want the logo on the left side of our nav-bar  */
.main-navigation:before {
  content: url(http://afrmedia.vangenplotz.no/wp-content/uploads/2014/11/HexaLogo1-150x150.png);
}
/*  Fixes its position 
.main-navigation {
  display: -webkit-box;
}


/*  When reading an article, this is how we style the "next article" buttons  */
.older-posts, .newer-posts {
  border-radius: 100%;
}







/*  Actuall Header  */

.site-header {
  background-image: url(http://afrmedia.vangenplotz.no/wp-content/uploads/2014/11/final.png);
  background-size: cover;
  background-position: 50% 64%;
}


/*  Current position for the logo  */
.social-icons {
  padding-top: 4rem;
}
/*  Allowing us to put it in inside the page without actually changing any of the HTML/PHP  */
.social-icons:before {
  content: url(http://afrmedia.vangenplotz.no/wp-content/uploads/2014/11/HexaLogo1-300x300.png);
}

/*  Removing the title of the "blog", we don't need it, since we have the logo  */
.blog-title {
  display: none;
}

/*  Moving the text "En reise gjennom København" under the logo  */
.blog-description {
  margin-top: -50px;
}




/* Remove from main page:  */

/*
.page-id-61 .site-header {
  display: none;
}
*/







/*                     HEXAGON                     */

/*  If you change some of the code, it may require you to do a lot of changes in the other css rules too
    Hover effect currently NOT working
*/

/*  Hexagon CSS  */

.hexagon {
  margin: 0 auto;
  width:225px;
  height: 200px;
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  background:black;
  overflow:hidden;
  display:inline-block;
}


/*  Hexagon List space fix  */

.hexagon-spacing-fix:nth-child(odd) {
  list-style-type:none;
  margin: 0px; 
  padding: 0px;
  display:-webkit-flex;
}
.hexagon-spacing-fix:nth-child(even) {
  list-style-type:none;
  padding-left: 120px;
  margin-top: -106px;
  display:-webkit-flex;
}

.hexagon-spacing-fix li:nth-child(odd) {
  
}
.hexagon-spacing-fix li:nth-child(even) {
  padding-left: 118px;
  padding-right: 118px;
}

.hex-last-even li:nth-child(even) {
  padding-left: 119px;
}

.hex-last-element li:last-child {
  margin-right: -46px;
}
  
.hexagon-spacing-fix:nth-child(3) {
  margin-top: -131px;
}
.hexagon-spacing-fix:nth-child(5) {
  margin-top: -131px;
}
.hexagon-spacing-fix:nth-child(7) {
  margin-top: -131px;
}



.hexagon-image-class {
  margin: -15px 0px 0px 0px !important;
  padding: 0em !important;
  height: 216px !imporant;
  max-width: 250px !important;
  width:100%;
  background-color: hsla(142, 42%, 67%, 1.0);
}


/*  Fixing the size, so the hexagons doesn't get all messed up and cluttered  */
.post-61 {
  margin-left: auto !important;
  margin-right: auto !important;
}


/*  If we want to have text in the picture, hover effect currently NOT working  */

.hexa-text-box {
  margin-top: -143px;
  margin-left: 19px;
  width: 100%;
  height: 100%;
  color: #000DFF;
  font-size: x-large;
  font-family: 'Lato', sans-serif;
}
.hexa-text {
  border-bottom: thin solid #000DFF;
}
.hexa-text-info {
  font-size: 14px;
}




/*  Image Fix  */
.wp-caption {
  border: none;
}
.wp-caption .wp-caption-text {
  margin: 0 0;
}
.wp-caption-text {
  text-align: left;
  margin-top: -2rem !important;
  margin-top: -0.7rem !important;
  margin-left: 20px !important;
  color: grey;
}


/*  Removing the general byline at the top of the articles  */
.byline {
  display: none !important;
}



/*                     MainPage                  */

/*  Removing the link on the start page  */
.post-61 .post-header .post-title a {
  display: none;
}

/*  If we want to have comments available, but just not on the front page.  */
.page-id-61 .comments-area {
  display: none;
}










/*  No idea of what this does!  */

.comment-metadata {
  text-align: right;
  margin-top: -27px;
}
.comment-metadata a {
  color: hsla(0, 10%, 80%, 1.0);
  text-decoration: none;
}
.comment-metadata a:hover {
  color: hsla(0, 0%, 0%, 1.0);
}


/*  Comments area. Text size fix  */
.comments-title {
  font-size: 2rem;
}
.comment-reply-title {
  font-size:2rem;
  margin-bottom: 0px;
}
/*  Comments Area. From fix  */
.logged-in-as {
  margin-top: 0.1rem;
  margin-left: 3rem;
  color: hsla(0, 10%, 80%, 1.0);
}
.logged-in-as a {
  color: hsla(0, 10%, 80%, 1.0);
}
.logged-in-as a:hover {
  color: hsla(0, 0%, 0%, 1.0);
}